<div class="row">
  <div class="col-lg-3">
     <%= render "user_details" %>
  </div>
  <div class="col-lg-6">
    <div class="row">
      <div class="col-lg-12">
        <%= render "lst_followers" %>
      </div>
    </div>
  </div>
  <div class="col-lg-3">
    <%= render "who_follow" %>
  </div>
</div>