<div class="row">
  <div class="col-lg-3">
     <!-- Incluir algum texto interessante futuramente-->
  </div>
  <div class="col-lg-6">
    <div class="row">
      <div class="col-lg-12">
        <%= render "lst_user" %>
      </div>
    </div>
  </div>
  <div class="col-lg-3">
  	<!-- Incluir algum texto interessante futuramente-->
  </div>
</div>
