<div class="row">
  <div class="col-lg-10 col-lg-offset-1">
    <div class="row">
      <div id="banner-app" class="col-lg-4">
        <h3>Bem vindo,</h3>
        <p>
          ao <strong>MicroBlog</strong> usando Ruby on Rails. 
        </p>
      </div>
      <!--div class="col-lg-3">
        <div class="row">
          <div class="well">
            <%#= render "devise/sessions/form" %>
            <%#= link_to "Esquece sua senha?", new_password_path(:user) %>
          </div>
        </div>
        <div class="row">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Novo no MicroBlog? Inscreva-se</h3>
            </div>
            <div class="panel-body">
              <%#= render "devise/registrations/form" %>
            </div>
          </div>
        </div>
      </div-->
    </div>
  </div>
</div>